@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Antique-Cherry';
  src: url('./fonts/Antique_Cherry-Personal_Use.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Regular.ttf') format('truetype');
}

.hero-image .say-hi {
  bottom: 23px;
  left: 160px;
}
